.page-list .pagination {
	float: right;
	margin: 25px 20px 0 0!important;
}

.page-list .pagination span {
	cursor: pointer;
}

.page-list .pagination .separate span {
	cursor: default;
	border-top: none;
	border-bottom: none;
}

.page-list .pagination .separate span:hover {
	background: none;
}

.page-list .page-total {
	margin:30px 0 0 30px;
	margin-bottom: 0!important;
    float: initial!important;
	
}

.page-list .page-total input,
.page-list .page-total select {
	height: 26px;
	border: 1px solid #ddd;
}

.page-list .page-total input {
	width: 40px;
	padding-left: 3px;
}

.page-list .page-total select {
	width: 50px;
}

.page-list {
	margin-top: -10px;
	margin-bottom: 10px;
	float: right;
	letter-spacing: 2px;
	position: relative;
	width:100%;
}

.page-total {
	color: gray
} 
