<div ui-view></div>
<div>
	<div class="header">
		<div class="hamburger-container" id="flexBtn" style="transition: .3s">
			<svg :class="{'is-active':isActive}"
				 t="1492500959545"
				 class="hamburger"
				 style=""
				 viewBox="0 0 1024 1024"
				 version="1.1"
				 xmlns="http://www.w3.org/2000/svg"
				 p-id="1691"
				 xmlns:xlink="http://www.w3.org/1999/xlink"
				 width="15"
				 height="15"
				 @click="toggleClick">
				<path fill="#000000" d="M966.8023 568.849776 57.196677 568.849776c-31.397081 0-56.850799-25.452695-56.850799-56.850799l0 0c0-31.397081 25.452695-56.849776 56.850799-56.849776l909.605623 0c31.397081 0 56.849776 25.452695 56.849776 56.849776l0 0C1023.653099 543.397081 998.200404 568.849776 966.8023 568.849776z"
					  p-id="1692"/>
				<path fill="#000000" d="M966.8023 881.527125 57.196677 881.527125c-31.397081 0-56.850799-25.452695-56.850799-56.849776l0 0c0-31.397081 25.452695-56.849776 56.850799-56.849776l909.605623 0c31.397081 0 56.849776 25.452695 56.849776 56.849776l0 0C1023.653099 856.07443 998.200404 881.527125 966.8023 881.527125z"
					  p-id="1693"/>
				<path fill="#000000" d="M966.8023 256.17345 57.196677 256.17345c-31.397081 0-56.850799-25.452695-56.850799-56.849776l0 0c0-31.397081 25.452695-56.850799 56.850799-56.850799l909.605623 0c31.397081 0 56.849776 25.452695 56.849776 56.850799l0 0C1023.653099 230.720755 998.200404 256.17345 966.8023 256.17345z"
					  p-id="1694"/>
			</svg>
		</div>
		<div class="popover-container">
			<div style="width: 100px">
				<div class="userBtn">
					<div class="text">
						<p class="ng-binding">admin</p>
						<p class="ng-binding">超级管理员</p>
					</div>
					<div class="userIconDown">
						<img src="img/svg/down.svg" width="14" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="userContent">
			<div class="head">
				<div class="title">
					<img src="img/TianYiYun.png" alt="">
					<div class="titleContent">
						<p>admin</p>
						<p>超级管理员</p>
						<!--<p>{{userMessageContent.userName}}</p>-->
						<!--<p>{{userMessageContent.roles[0].roleName}}</p>-->
					</div>
				</div>
			</div>
			<div class="content">
				<table>
					<tbody>
					<tr>
						<td>
							<a>
								<img src="img/changepwd.png" data-toggle="modal" data-target="#myModalPwd" alt="">
								<p>修改密码</p>
							</a>
						</td>
						<td>
							<a>
								<img src="img/reset.png" data-toggle="modal" data-target="#myModalMsg" ng-click="selectAddress(p)" alt="">
								<p>修改信息</p>
							</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
			<div class="foot">
				<a id="logout">
					<img style="width: 18px;
       height: 18px;
       vertical-align: -0.15em;
       fill: currentColor;
       overflow: hidden;
       margin-top: 15px;
       margin-right: 0;" src="img/svg/out.svg" alt="">
					<span>注销登录</span>
				</a>
			</div>
		</div>

		<div class="modal fade" id="myModalMsg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
						<h4 class="modal-title" id="myModalLabel">修改信息</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" name="editApp">
							<div class="form-group">
								<label class="col-sm-2 control-label"><span style="color:red;">*</span>账号:</label>
								<div class="col-sm-9">
									<input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" name="appName" ng-model="obj.appName" required="" maxlength="32" placeholder="admin"
										   type="text" disabled>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span style="color:red;">*</span>昵称:</label>
								<div class="col-sm-9">
									<input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" name="appName" ng-model="obj.appName" required="" maxlength="32" placeholder="系统管理员"
										   type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span style="color:red;">*</span>手机:</label>
								<div class="col-sm-9">
									<input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" name="appName" ng-model="obj.appName" required="" maxlength="32" placeholder="手机号码"
										   type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span style="color:red;">*</span>邮箱:</label>
								<div class="col-sm-9">
									<input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" name="appName" ng-model="obj.appName" required="" maxlength="32" placeholder="例如：xxxxx@email.com"
										   type="text">
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-default btn-info" data-dismiss="modal">取消</button>
								<button disabled="disabled" class="btn btn-primary"
										ng-disabled="editApp.$invalid" data-dismiss="modal" ng-click="editApps()">
									确认
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="myModalPwd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
						<h4 class="modal-title" id="myModalLabel">修改密码</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-maxlength" name="editApp">
							<div class="form-group">
								<label class="col-sm-2 control-label"><span style="color:red;">*</span>旧密码:</label>
								<div class="col-sm-9">
									<input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" name="appName" ng-model="obj.appName" required="" maxlength="32" placeholder="旧密码"
										   type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span style="color:red;">*</span>新密码:</label>
								<div class="col-sm-9">
									<input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" name="appName" ng-model="obj.appName" required="" maxlength="32" placeholder="新密码"
										   type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label"><span style="color:red;">*</span>确认密码:</label>
								<div class="col-sm-9">
									<input class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-maxlength" name="appName" ng-model="obj.appName" required="" maxlength="32" placeholder="确认密码"
										   type="text">
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-default btn-info" data-dismiss="modal">取消</button>
								<button disabled="disabled" class="btn btn-primary"
										ng-disabled="editApp.$invalid" data-dismiss="modal" ng-click="editApps()">
									确认
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div>
		<div id="accordions">
			<div class="dh">
				<img src="img/logos.png"/>
			</div>
			<div class="left-side-menu"  style="padding-bottom: 50px;">
				<div class="lsm-expand-btn">
					<div class="lsm-mini-btn">

						<label>
							<input type="checkbox" checked="checked">
						</label>

					</div>
				</div>
				<div class="lsm-container">
					<div class="lsm-scroll" >
						<div class="lsm-sidebar">
							<ul>
								<li  ui-sref="app.traffic-statistics">
									<a ng-click="active(1)" ng-class="{'activeColor':liActive == 1}">
										<i class="iconfont icon-liuliangjiankong"></i>
										<span>流量监控</span>
									</a>
								</li>
								<li  ui-sref="app.limit-set">
									<a ng-click="active(2)" ng-class="{'activeColor':liActive == 2}">
										<i class="iconfont icon-xianliupeizhi"></i>
										<span>限流配置</span>
									</a>
								</li>
								<li  ui-sref="app.traffic-transfer">
									<a ng-click="active(3)" ng-class="{'activeColor':liActive == 3}">
										<i class="iconfont icon-yuyinjiaohu"></i>
										<span>TCP流量转移</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$('.lsm-scroll').slimscroll({
		height: 'auto',
		position: 'right',
		railOpacity: 1,
		size: "5px",
		opacity: .4,
		color: '#fffafa',
		wheelStep: 5,
		touchScrollStep: 50
	});
	$('.lsm-container ul ul').css("display", "none");
	// lsm-sidebar收缩展开
	$('.lsm-sidebar a').on('click',function(){
		$('.lsm-scroll').slimscroll({
			height: 'auto',
			position: 'right',
			size: "8px",
			color: '#9ea5ab',
			wheelStep: 5,
			touchScrollStep: 50
		});
		if (!$('.left-side-menu').hasClass('lsm-mini')) {
			$(this).parent("li").siblings("li.lsm-sidebar-item").children('ul').slideUp(200);
			if ($(this).next().css('display') == "none") {
				//展开未展开
				// $('.lsm-sidebar-item').children('ul').slideUp(300);
				$(this).next('ul').slideDown(200);
				$(this).parent('li').addClass('lsm-sidebar-show').siblings('li').removeClass('lsm-sidebar-show');
			}else{
				//收缩已展开
				$(this).next('ul').slideUp(200);
				//$('.lsm-sidebar-item.lsm-sidebar-show').removeClass('lsm-sidebar-show');
				$(this).parent('li').removeClass('lsm-sidebar-show');
			}
		}
	});

	//lsm-mini
	var z = 0
	$('.hamburger-container svg').on('click',function(){		
		if (z % 2 == 0) {
			$('.lsm-sidebar-item.lsm-sidebar-show').removeClass('lsm-sidebar-show');
			$('.lsm-container ul').removeAttr('style');
			$('.left-side-menu').addClass('lsm-mini');
			$('.left-side-menu').stop().animate({width : 60},200);
			$('.header').stop().animate({'padding-left' : "70px"},200);
			$(".lsm-sidebar>ul>li>a>span").css({
				"opacity":0
			})
			$("#tablelist").animate({
				"padding-left": 70 + "px"
			},500,function(){
			})
			$(".dh img").css({
				"display":"none"
			})
		}else{
			$('.left-side-menu').removeClass('lsm-mini');
			$('.lsm-container ul ul').css("display", "none");
			$('.left-side-menu').stop().animate({width: 180},200);
			$('.header').stop().animate({'padding-left' : "180px"},200);
			$(".lsm-sidebar>ul>li>a>span").css({
				"opacity":1
			})
			$("#tablelist").animate({
				"padding-left": 205 + "px"
			},500,function(){
			})
			$(".dh img").css({
				"display":"block"
			})
		}
		z++
	});

//	$(document).on('mouseover','.lsm-mini .lsm-container ul:first>li',function(){
//		$(".lsm-popup.third").hide();
//		$(".lsm-popup.second").length == 0 && ($(".lsm-container").append("<div class='second lsm-popup lsm-sidebar'><div></div></div>"));
//		$(".lsm-popup.second>div").html($(this).html());
//		$(".lsm-popup.second").show();
//		$(".lsm-popup.third").hide();
//		var top = $(this).offset().top;
//		var d = $(window).height() - $(".lsm-popup.second>div").height();
//		if(d - top <= 0 ){
//			top  = d >= 0 ?  d - 8 : 0;
//		}
//		$(".lsm-popup.second").stop().animate({"top":top}, 100);
//	});
//
//	$(document).on('mouseover','.second.lsm-popup.lsm-sidebar > div > ul > li',function(){
//		if(!$(this).hasClass("lsm-sidebar-item")){
//			$(".lsm-popup.third").hide();
//			return;
//		}
//		$(".lsm-popup.third").length == 0 && ($(".lsm-container").append("<div class='third lsm-popup lsm-sidebar'><div></div></div>"));
//		$(".lsm-popup.third>div").html($(this).html());
//		$(".lsm-popup.third").show();
//		var top = $(this).offset().top;
//		var d = $(window).height() - $(".lsm-popup.third").height();
//		if(d - top <= 0 ){
//			top  = d >= 0 ?  d - 8 : 0;
//		}
//		$(".lsm-popup.third").stop().animate({"top":top}, 100);
//	});
//
//	$(document).on('mouseleave','.lsm-mini .lsm-container ul:first, .lsm-mini .slimScrollBar,.second.lsm-popup ,.third.lsm-popup',function(){
//		$(".lsm-popup.second").hide();
//		$(".lsm-popup.third").hide();
//	});
//
//	$(document).on('mouseover','.lsm-mini .slimScrollBar,.second.lsm-popup',function(){
//		$(".lsm-popup.second").show();
//	});
//	$(document).on('mouseover','.third.lsm-popup',function(){
//		$(".lsm-popup.second").show();
//		$(".lsm-popup.third").show();
//	});
//	$(".lsm-sidebar-item a").on('click',function(){
//		$(".lsm-sidebar-item a").removeClass("active")
//		$(this).addClass("active")
//	})





    var a = 0
    $(".userBtn").click(function () {
        if (a % 2 == 0) {
            $(".userContent").fadeIn()
        } else {
            $(".userContent").fadeOut()
        }
        a++;
    })
    $("#logout").click(function () {
        $.ajax({
            type: "GET",
             url: "./js/set.json",
            data: "",
            dataType: "json",
            success: function (data) {
                $.ajax({
                    type: "post",
                    url: "../system/login/logOut",
                    data: "userId=" + JSON.parse(sessionStorage.userObj).userId,
                    dataType: "json",
                    success: function (res) {
                        if (window.location.pathname.indexOf("TianYiYun") > 0) {
                            var logout = data.set[0].logout;
                            window.location.href = "http://" + window.location.hostname + logout;
                        } else {
                            var logout = data.set[1].logout;
                            window.location.href = "https://" + window.location.hostname + logout;
                        }
                        sessionStorage.clear()
                    }
                })
            }
        })
    })
</script>