<div id="tablelist" class="systemPage ng-scope" ng-controller="limit-set">
	<div class="wrapper-md ng-scope">
		<div class="title">
			<h1 class="m-n font-thin h4 text-black">限流配置</h1>
		</div>
		<div class="rightNav">
			<button type="button" class="btnStyl" ui-sref="app.traffic-statistics">
				<i class="iconfont icon-fanhui"></i>
				返回首页
			</button>
			<button type="button" class="btnStyl">
				<i class="iconfont icon-jiahao" data-toggle="modal" data-target="#myModaller"></i>
				创建
			</button>
		</div>
	</div>

	<div class="panel panel-default tableStyl">
		<table class="table table-bordered table-striped table-hover tablecolor">
			<thead class="theaddiy">
				<tr>
					<th>镜像名称</th>
					<th>服务名称</th>
					<th>负载模式</th>
					<th>负载策略</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody class="tbodydiy">
				<tr class="skipname">
					<td class="skipname" style="width:300px !important">
						mirror-1
					</td>
					<td>service-1</td>
					<td>
						轮洵
					</td>
					<td>策略-1</td>
					<td class="ud-manage">
						<div class="btn-group">
							<button type="button" style="font-weight:bold;color: #1f8cce;border: 1px solid #1f8cce;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								管理
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" style="left:-40%;">
								<li>
									<a data-toggle="modal" data-target="#myModal" ng-click="selectAddress(p)">编辑</a>
								</li>
								<li>
									<a ng-click="delApp(p)" data-toggle="modal" data-target="#myModala">删除</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
				<tr class="skipname">
					<td class="skipname" style="width:300px !important">
						mirror-2
					</td>
					<td>service-2</td>
					<td>
						轮洵
					</td>
					<td>策略-2</td>
					<td class="ud-manage">
						<div class="btn-group">
							<button type="button" style="font-weight:bold;color: #1f8cce;border: 1px solid #1f8cce;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								管理
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" style="left:-40%;">
								<li>
									<a data-toggle="modal" data-target="#myModal" ng-click="selectAddress(p)">编辑</a>
								</li>
								<li>
									<a ng-click="delApp(p)" data-toggle="modal" data-target="#myModala">删除</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
				<tr class="skipname">
					<td class="skipname" style="width:300px !important">
						mirror-3
					</td>
					<td>service-3</td>
					<td>
						轮洵
					</td>
					<td>策略-3</td>
					<td class="ud-manage">
						<div class="btn-group">
							<button type="button" style="font-weight:bold;color: #1f8cce;border: 1px solid #1f8cce;" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								管理
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" style="left:-40%;">
								<li>
									<a data-toggle="modal" data-target="#myModal" ng-click="selectAddress(p)">编辑</a>
								</li>
								<li>
									<a ng-click="delApp(p)" data-toggle="modal" data-target="#myModala">删除</a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!--<tm-pagination conf="paginationConf"></tm-pagination>-->
	</div>

	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title" id="myModalLabel">编辑配置</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" name="editApp">
						<div class="form-group">
							<label class="col-sm-2 control-label"><span style="color:red;">*</span>镜像名称:</label>
							<div class="col-sm-8">
								<select class="form-control" ng-model="obj.projectName" ng-change="projectFlag()" required ng-disabled="createAppFlag">
									<option>mirror</option>
									<option>bird</option>
									<option>test</option>
								</select>
							</div>
						</div>
						<div class="form-group labelStyl">
							<label class="col-sm-2 control-label">负载模式:</label>
							<div class="col-sm-9" style="margin-top: 8px">
								<label>
									<input type="radio" class="checkStyl" ng-model="getP" ng-value=1 name="get"/>
									随机
								</label>
								<label>
									<input type="radio" class="checkStyl" ng-model="getP" ng-value=2 name="get"/>
									轮洵
								</label>
								<label>
									<input type="radio" class="checkStyl" ng-model="getP" ng-value=3 name="get"/>
									权重
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"><span style="color:red;">*</span>负载策略:</label>
							<div class="col-sm-9 extera">
								<input type="text" class="form-controler placeStyl " name="appName" ng-model="obj.appName" placeholder="此处填写负载均衡策略" required maxlength="32">
							</div>
						</div>
						<div class="form-group labelStyl">
							<label class="col-sm-2 control-label"><span style="color:red;">*</span>分版设置:</label>
							<div class="col-sm-9" style="margin-top: 8px">
								<label>
									<input type="radio" name="new" class="checkStyl"
										   ng-model="newP" ng-value=1 />
									否
								</label>
								<label style="margin-left: 35px">
									<input type="radio" name="new" class="checkStyl" 
										ng-model="newP" ng-value=2 />
									是
								</label>
							</div>
						</div>
					</form>
				</div>

				<div ng-if="newP == 2">
					<table class="table table-bordered table-striped table-hover tablecolor">
						<thead style="border: 1px solid #ebeef5">
							<tr>
								<th>版本名称</th>
								<th>负载模式</th>
								<th ng-if="getP == 3">权重占比</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>mirror-1</td>
								<td>
									<label>
										<input type="radio" class="checkStyl" name="rBtn" id="analy"/>
										随机
									</label>
									<label style="margin-left: 35px">
										<input type="radio" class="checkStyl" name="rBtn" id="circle"/>
										轮洵
									</label>
								</td>
								<td ng-if="getP == 3">30</td>						
							</tr>
							<tr>
								<td>mirror-2</td>
								<td>
									<label>
										<input type="radio" class="checkStyl" name="rBtn" id="analy"/>
										随机
									</label>
									<label style="margin-left: 35px">
										<input type="radio" class="checkStyl" name="rBtn" id="circle"/>
										轮洵
									</label>
								</td>
								<td ng-if="getP == 3">70</td>							
							</tr>
						</tbody>
					</table>
					<div class="modal-footer mStyle">
						<button class="btn btn-primary" ng-disabled="editApp.$invalid" data-dismiss="modal" ng-click="editApps()">
								保存
							</button>
						<button class="btn btn-default btn-info" data-dismiss="modal">返回</button>
					</div>
				</div>

			</div>
		</div>
	</div>

<!--创建-->
	<div class="modal fade" id="myModaller" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title" id="myModalLabel">创建</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" name="editApp">
						<div class="form-group">
							<label class="col-sm-2 control-label"><span style="color:red;">*</span>镜像名称:</label>
							<div class="col-sm-8">
								<select class="form-control" ng-model="obj.projectName" ng-change="projectFlag()" required ng-disabled="createAppFlag">
									<option>mirror</option>
									<option>bird</option>
									<option>test</option>
								</select>
							</div>
						</div>
						<div class="form-group labelStyl">
							<label class="col-sm-2 control-label">负载模式:</label>
							<div class="col-sm-9" style="margin-top: 8px">
								<label>
									<input type="radio" class="checkStyl" ng-model="getP" ng-value=1 name="get"/>
									随机
								</label>
								<label>
									<input type="radio" class="checkStyl" ng-model="getP" ng-value=2 name="get"/>
									轮洵
								</label>
								<label>
									<input type="radio" class="checkStyl" ng-model="getP" ng-value=3 name="get"/>
									权重
								</label>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label"><span style="color:red;">*</span>负载策略:</label>
							<div class="col-sm-9 extera">
								<input type="text" class="form-controler placeStyl " name="appName" ng-model="obj.appName" placeholder="此处填写负载均衡策略" required maxlength="32">
							</div>
						</div>
						<div class="form-group labelStyl">
							<label class="col-sm-2 control-label"><span style="color:red;">*</span>分版设置:</label>
							<div class="col-sm-9" style="margin-top: 8px">
								<label>
									<input type="radio" name="new" class="checkStyl"
										   ng-model="newP" ng-value=1 />
									否
								</label>
								<label style="margin-left: 35px">
									<input type="radio" name="new" class="checkStyl"
										ng-model="newP" ng-value=2 />
									是
								</label>
							</div>
						</div>
					</form>
				</div>

				<div ng-if="newP == 2">
					<table class="table table-bordered table-striped table-hover tablecolor">
						<thead style="border: 1px solid #ebeef5">
							<tr>
								<th>版本名称</th>
								<th>负载模式</th>
								<th ng-if="getP == 3">权重占比</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>mirror-1</td>
								<td>
									<label>
										<input type="radio" class="checkStyl" name="rBtn" id="analy"/>
										随机
									</label>
									<label style="margin-left: 35px">
										<input type="radio" class="checkStyl" name="rBtn" id="circle"/>
										轮洵
									</label>
								</td>
								<td ng-if="getP == 3">30</td>
							</tr>
							<tr>
								<td>mirror-2</td>
								<td>
									<label>
										<input type="radio" class="checkStyl" name="rBtn" id="analy"/>
										随机
									</label>
									<label style="margin-left: 35px">
										<input type="radio" class="checkStyl" name="rBtn" id="circle"/>
										轮洵
									</label>
								</td>
								<td ng-if="getP == 3">70</td>
							</tr>
						</tbody>
					</table>
					<div class="modal-footer mStyle">
						<button class="btn btn-primary" ng-disabled="editApp.$invalid" data-dismiss="modal" ng-click="editApps()">
								保存
							</button>
						<button class="btn btn-default btn-info" data-dismiss="modal">返回</button>
					</div>
				</div>

			</div>
		</div>
	</div>

	<div class="modal fade" id="myModala" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					<h4 class="modal-title" id="myModalLabel">删除限流配置</h4>
				</div>
				<div class="modal-body">
					<p style="color: red;font-size: 20px;">您确定要删除此项吗？</p>
				</div>
				<div class="modal-footer">
					<button ng-click="delAppSuccess()" class="btn btn-default btn-info" data-dismiss="modal">确定</button>
					<button class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>
</div>