/**
 * 样式初始化
 -----------------------------*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0
}

body,
button,
input,
select,
textarea {
	font: 14px/1 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti Sc","WenQuanYi Micro Hei",sans-serif;

}
select{
	background:white;
}
ul,
ol {
	list-style: none
}

a {
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

a:focus {
	outline: none;
	text-decoration: none
}

a:hover {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}

i {
	cursor: pointer;
}

input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
	border: none;
	padding: 0
}

input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0px 1000px white inset!important;
}
/**
 * 公用样式
 -----------------------------*/
@media only screen and (max-height:920px) {
	#tablelist{
		height: 100%!important;
	}
}
@media only screen and (min-height:1020px) {
	#tablelist{
		height: 1020px!important;
	}
}
.ng-dirty.ng-valid,.ng-dirty.ng-valid:focus{
	border-color:#27c24c;
}
.appModal .ng-dirty.ng-valid,.ng-dirty.ng-valid:focus{
	border-color:deepskyblue !important;
}
.ng-dirty.ng-invalid{
	border-color:red
}


/*列表数据加载失败 显示div*/

.dataTables_empty {
	height: 300px;
}
.dataTables_empty:hover{
	background:white;
	color:black
}

.activeColor{
	background: deepskyblue;
	color: white !important;
}

#footers{
	position: absolute;
	bottom: 0;
	font-size: 10px;
	width: 100%;
	height: 25px;
	background: white;
}
#footers p{
	margin:10px 0 0 240px
}
.no-items{
	height: 50px;
	line-height: 85px;
	text-align: center;
}

.header{
	height: 50px;
	width: 100%;
	padding-left:180px;
	border-bottom:1px solid lightgrey;
	position: absolute;
	top: 0;
	background-color:#FFFFFF;
}
.popover-container{
	float :right;
	margin-right :30px;
	cursor: pointer;
	width: auto;
	height :48px;
	line-height :normal;
	border-left :1px solid #eaeff2;
	padding: 0 20px;
}

#accordions {
	width: 180px;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transition:0.5s;
	z-index: 5;
}

.dh{
	/*display: inline-block;*/
	/*float: left;*/
	position: absolute;
}
.dh img {
	padding: 18px;
	width: 140px;
}

/*每个页面宽度*/

.appcontent {
	width: 100%;
	border: 0;
}

.app-content-body {
	padding-bottom: 50px;
	float: left;
	width: 100%;
}
.wrapper-md {
	padding: 12px 0px;
}
.m-n {
	margin: 0 !important;
}
.font-thin {
	font-weight: 300;
}
.text-black {
	color: #1c2b36;
}
.h4 {
	font-size: 18px;
}
.panel {
	border-radius: 2px;
	margin-right: 20px;
}

#tablelist .overflowhead {
	background: white;
	color: #379be9;
	border-bottom: 0;
}

/*app.html*/
#myModalLabel, .control-label {
	font-weight: bold;
}
.modal-title {
	font-size: 22px;
}
.header .userContent .content img:nth-child(1){
	width: 35px;
	height: 35px;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 0;
}
.header .userContent .content img:nth-child(2){
	width: 35px;
	height: 35px;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	margin-top: 30px;
	margin-right: 0;
}
.hamburger-container{
	line-height: 54px;
	height: 50px;
	float: left;
	padding: 0 24px;
	position: relative;
	z-index: 50;
}
.popover-container{
	float :right;
	margin-right :30px;
	cursor: pointer;
	width: auto;
	height :48px;
	line-height :normal;
	border-left :1px solid #D3D3D3;
	padding: 0px 20px;
}
.userBtn .userIconDown{
	float: right;
	height: 50px;
	line-height: 50px;
	color: #FFFFFF;
}
.userBtn{
	height:50px
}
.userBtn .text{
	float: left;
	padding: 8px 8px 8px 0;
	font-size:12px
}
.userBtn .text p:nth-child(2){
	margin-top :4px
}
.userContent{
	width: 360px;
	background: white;
	position: absolute;
	right: 35px;
	top: 65px;
	-webkit-box-shadow: 4px 4px 40px rgba(0,0,0,0.05);
	box-shadow: 4px 4px 40px rgba(0,0,0,0.05);
	border: 1px solid lightgray;
	display: none;
}
.userContent .head{
	height: 70px;
	border-bottom: 1px dashed #ededed;
}
.userContent .head .title{
	overflow: hidden;
	padding: 13px 18px 8px 32px;
}
.userContent .head .title img{
	float: left;
	width: 90px;
	line-height: 50px;
	margin-top: 6px;
	margin-right: -28px;
}
.userContent .head .title .titleContent{
	float: left;
	padding-left: 7px;
	line-height: 20px;
	padding-top: 8px;
	min-width: 180px;
}
.userContent .head .title .titleContent p:nth-child(1){
	font-size: 16px;
	color: #46b2fa;
}
.userContent .head .title .titleContent p:nth-child(2){
	font-size: 12px;
}
.userContent .content table{
	border-collapse: collapse;
	width: 100%;
}

.userContent .content table tr td{
	position: relative;
	height: 120px;
	width: 120px;
	text-align: center;
	border: 1px dashed #ededed;
	font-size: 14px;
	cursor: pointer;
}
.userContent .content table tr td a{
	width: 100%;
	height: 100%;
	display: inline-block;
	color: #4d4d4d;
	text-decoration: none;
}
.userContent .content table tr td a p{
	margin-top:5px
}
/*.userContent .content table tr td a:hover{*/
/*color: #2db7f5;*/
/*}*/
.userContent .foot{
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
}
.userContent .foot>a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #6b6b6b;
	background: transparent;
	text-decoration: none;
	outline: none;
	cursor: pointer;
}
/*.userContent .foot>a:hover{*/
/*color: #2db7f5;*/
/*}*/

/*添加页面引入的样式*/
#tablelist {
	position: absolute;
	top: 0;
	left: 0;
	height: 920px;
	width: 100%;
	min-width: 1500px;
	padding-top: 50px;
	padding-left: 200px;
	/*padding-right: 25px;*/
	background: white;
	overflow: auto;
	overflow-x: hidden;
	opacity: 1;
}

.m-b-xs {
	margin-bottom: 5px;
}
.btn-primary {
	color: #fff !important;
	background-color: #358ADF;
	border-color: #358ADF;
}
.btn {
	font-weight: 500;
	border-radius: 2px;
	outline: 0 !important;
}
.panel-default > .panel-heading, .panel-default > .panel-footer {
	border-color: #edf1f2;
}
.panel-default .panel-heading {
	background-color: #f6f8f8;
}
.panel-heading {
	border-radius: 2px 2px 0 0;
}
.table-responsive {
	max-width: 100%;
	overflow: inherit;
}
.table-responsive .table > thead > tr > th, .table-responsive .table > tbody > tr > td, .table-responsive .table > tfoot > tr > td {
	/*padding: 8px;*/
	height: 60px;
	border-bottom: 1px solid #ebeef5;
}
.table > thead > tr > th {
	color: #666666;
    padding: 19px 18px!important;
    font-size: 15px;
	/*padding: 8px 15px;*/
	border-bottom: 1px solid #eaeff0;
}
.bodyborder {
	border: 1px solid #dbdbdb;
	box-shadow: 0px 2px 1px 2px #e7e7e7;
}
/*system.html*/
.page-list {
	margin-top: -10px;
	margin-bottom: 10px;
	float: right;
	letter-spacing: 2px;
	position: relative;
	width: 100%;
}
.page-list .pagination {
	float: right;
	margin: 25px 20px 0 0!important;
}
.page-list .page-total {
	margin: 30px 0 0 30px;
	margin-bottom: 0!important;
	float: initial!important;
}
.page-total {
	color: gray;
}
.no-items {
	height: 50px;
	line-height: 85px;
	text-align: center;
}
.table-responsive .btn-group{
	font-weight:bold;
	color: #1f8cce;
	border: 1px solid #1f8cce;
}
th {
	text-align: left;
}

/*user.html*/
.userPage #myModalaNew .modal-body p{
	margin-bottom: 10px;
}
.userPage #myModalaNew .i-checks input[type="radio"] + i, .i-checks input[type="radio"] + i:before {
	border-radius: 50%;
}
.i-checks input:checked + i {
	border-color: #23b7e5;
}
.userPage .panel .blank option{
	margin-top: 6px;
}
.i-checks > i {
	width: 20px;
	height: 20px;
	line-height: 1;
	border: 1px solid #cfdadd;
	background-color: #fff;
	margin-left: -20px;
	margin-top: -2px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 4px;
	position: relative;
}
.i-checks input:checked + i:before {
	left: 4px;
	top: 4px;
	width: 10px;
	height: 10px;
	background-color: #23b7e5;
}
.i-checks > i:before {
	content: "";
	position: absolute;
	left: 10px;
	top: 10px;
	width: 0px;
	height: 0px;
	background-color: transparent;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.userPage a[disabled], .userPage a[disabled]:hover {
	color: #ccc;
	cursor: not-allowed;
}
.text-ellipsis {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 auto;
}


@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
	}
}

@-moz-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-moz-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-moz-transform: translateX(0);
	}
}

@-o-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-o-transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		-o-transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}
.animated{
	-webkit-animation-fill-mode:both;
	-moz-animation-fill-mode:both;
	-ms-animation-fill-mode:both;
	-o-animation-fill-mode:both;
	animation-fill-mode:both;
	-webkit-animation-duration:0.5s;
	-moz-animation-duration:0.5s;
	-ms-animation-duration:0.5s;
	-o-animation-duration:0.5s;
	animation-duration:0.5s;
}

.btnStyl{
	display: inline-block;
	line-height: 1;
	white-space: nowrap;
	cursor: pointer;
	color: #fff;
	background-color: #409EFF;
	border: 1px solid #409EFF;
	-webkit-appearance: none;
	text-align: center;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	margin: 0;
	-webkit-transition: .1s;
	transition: .1s;
	font-weight: 500;
	padding: 9px 15px;
	font-size: 14px;
	border-radius: 4px;
}
.btnStyl:hover{
	background: rgba(64, 158, 255, 0.8);
}

.btnStyl:active{
	background: rgba(64, 158, 255, 1);
}
.activeName{
	display: inline-block;
    font-weight: bold;
    overflow: hidden;
    text-align: left;
    color: black;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: dodgerblue;
}


#accordions .lsm-container .iconfont{
	font-size: 20px;
	position: absolute;
	margin-left:-1px;
}
.wrapper-md .title{
	float: left;
	margin-top: 8px;
}
.wrapper-md .rightNav{
	margin-left: 885px;
}
.tableStyl{
	margin-right: 260px;
}
.checkStyl{
	height: 13px;
}
#myModal .labelStyl label:nth-child(2) {
	margin-left: 20px;
}
#myModal .labelStyl label:nth-child(3) {
	margin-left: 20px;
}
#myModaller .labelStyl label:nth-child(2) {
	margin-left: 20px;
}
#myModaller .labelStyl label:nth-child(3) {
	margin-left: 20px;
}
.extera{
	width: 60%;
}
.form-controler{
	display: block;
	width: 100%;
	height: 78px;
	padding: 2px 3px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.placeStyl input::-webkit-input-placeholder {
    text-align: left;
}

.modal-contenter{
	position: relative;
	top: 296px;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.mStyle{
	margin: 15px;
}
